<%- include("../partials/header") %>
    <link rel="stylesheet" href="/css/add.css" type="text/css">

    <h2 id="name">TEAM TODO</h2>
    <div class="container row">
        <div class="add col-md-8">
            <div>
                <h3>Add new Team Task</h3>
            </div>
            <form action="/teamtodo" method="POST" id="myform">
                <div class=" form-group ">
                    <label for="Name ">Task Name</label>
                    <input type="text" class="form-control " id="name " required name="task_name" placeholder="Task Name ">
                </div>

                <div class=" form-group ">
                    <label for="Name ">Expiry Date</label>
                    <input type="date" class="form-control " id="name " required name="expiry" placeholder="Expirye ">
                </div>

                <div class=" form-group ">
                    <label for="Name ">Expiry Time</label>
                    <input type="time" class="form-control " id="name " required name="time" placeholder="Expirye ">
                </div>
                <div>
                    <button type="submit" id="submit" class="btn btn-warning ">Submit</button>
                </div>
                <p id="required"></p>
            </form>
        </div>
    </div>

    <%- include("../partials/footer") %>